<section class="organizations-logos">
  <h1>See who is using Decidim Awesome</h1>
  <div class="organizations-in">
    <ul>
      <li>
        <img src="{{ '/assets/images/isotip_PokeCode.jpg' | relative_url }}" alt="">
      </li>
      <li>
        <img src="{{ '/assets/images/logo_PokeCode.png' | relative_url }}" alt="">
      </li>
      <li>
        <img src="{{ '/assets/images/isotip_PokeCode.jpg' | relative_url }}" alt="">
      </li>
      <li>
        <img src="{{ '/assets/images/logo_PokeCode.png' | relative_url }}" alt="">
      </li>
      <li>
        <img src="{{ '/assets/images/isotip_PokeCode.jpg' | relative_url }}" alt="">
      </li>
      <li>
        <img src="{{ '/assets/images/logo_PokeCode.png' | relative_url }}" alt="">
      </li>
      <li>
        <img src="{{ '/assets/images/isotip_PokeCode.jpg' | relative_url }}" alt="">
      </li>
      <li>
        <img src="{{ '/assets/images/logo_PokeCode.png' | relative_url }}" alt="">
      </li>
      <li>
        <img src="{{ '/assets/images/isotip_PokeCode.jpg' | relative_url }}" alt="">
      </li>
      <li>
        <img src="{{ '/assets/images/logo_PokeCode.png' | relative_url }}" alt="">
      </li>
    </ul>
  </div>
</section>

<style>
  .organizations-logos{
    width: 90%;
    height: auto;
    text-align: center;
  }

  .organizations-logos h1{
    font-size: 4rem;
    
  }

  .organizations-in{
    width: 100%;
    height: auto;
  }

  .organizations-in ul{
    padding: 0;
    margin: 0;
  }

  .organizations-in ul li{
    list-style: none;
    display: inline-block;
    width: 150px;
    min-height: 50%;
    position: relative;
    overflow: hidden;
  }

  .organizations-in ul li img{
    width: 100%;
  }
</style>