<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">
    {%- include head.html -%}
    <body>
        {% include header.html -%}
        <main>
            <div class="wrapper">
              {{ content }}
            </div>
            <div>
              {% include history.html -%}
            </div>
            <div>
              {% include ways_to_collab.html -%}
            </div>
            <div>
              {% include partner_logos.html -%}
            </div>

        </main>
          {%- include footer.html -%}   
    </body>
</html>
